body {
  background-color: #EAF6F6;
}
h2 {
color: #66BFBF
}
h1 {
color: #66BFBF
}
hr {
  border-color: #E8E8E8;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 30%;
}
